/*Template CSS Start*/

/*.template2_v1 {position: relative;}
.template2_v1 .question{text-align: left;font-size: 32px;position:relative;top:230px;}
.template2_v1 .text {position: absolute;top: 40px;}
.template2_v1 .c1 {left:170px;}
.template2_v1 .c2 {left:690px;}*/

/*Template CSS End*/

.template2_v1 .showAnswerTickMark,
.template2_v1 .showAnswerCrossMark {
  position: absolute;
  top: -10px;
  left: 90px;
  text-align: center;
}

label {
  font-size: 32px;
  margin-bottom: -16px;
  font-weight: 300;
  width: 100%;
  line-height: 2.5;
}

/*.template2_v1 .textNum {font-weight:bold;font-size:40px;position:relative;margin-right: 15px;margin-top: 9px;}
.template2_v1 .textNum1 {font-weight:bold;font-size:40px;position:relative;margin-right: 15px;margin-top: 9px; left:-4px}*/

.all {
  font-size: 35px;
}

/*#one , #two , #three , #four{
  visibility:  hidden;
  position: relative;
    left: 50px;
    top: 17px;
    width: 700px;
    z-index: 2;
}
#five{
  visibility:  hidden;
  position: relative;
    left: 49px;
    top: 17px;
    width: 700px;
    z-index: 2;
}*/

.space {
  margin-right: 273px;
}
.space2 {
  margin-right: 168px;
}
.input {
  width: 140px;
  height: 60px;
  font-size: 32px;
  /* padding-left: 3%; */
  resize: none;
  position: absolute;
  top: 20px;
  left: 390px;
  color: #36E084;
  /*border: 1.3px solid #888;*/
}

#myInput_0 {
  left: 542px;
  top: 9px;
  text-align: center;

}

#myInput_1 {
  left: 169px;
  top: 90px;
  text-align: center;

}

#myInput_2 {
  left: 923px;
  top: 90px;
  text-align: center;

}


#myInput_3 {
  left: 23px;
  top: 250px;
  text-align: center;

}

#myInput_4 {
  left: 980px;
  top: 250px;
  text-align: center;

}

#myInput_5 {
  left: 682px;
  top: 330px;
  text-align: center;

}

#myInput_6 {
  left: 134px;
  top: 411px;
  text-align: center;

}

.inphint {
  color: #36E084;
  width: 252px;
  height: 69px;
  font-size: 32px;
  padding: 8px 54px 10px 42px;
  position: relative;
  top: 0px;
  left: 2px;
  border: 1.3px solid #888;
  background: #e2e3e2;
}

.question1 {
  position: absolute;
  top: 100px;
  left: 50px;
}
.question2 {
  position: absolute;
  top: 141px;
  left: 50px;
}
.question2 #myInput_2 {
  left: 729px;
}
.question2 #myInput_3 {
  left: 900px;
}
.question2 #myInput_4 {
  left: 606px;
}

.pagePopup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 236, 239, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}
.pagePopupContainer {
  position: relative;
  width: 1230px;
  height: 730px;
  background-color: rgba(232, 236, 239, 0.8);
  border: 5px solid transparent;
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagePopup .col-xs-12 {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0;
}
.pagePopup .popup-content {
  width: 100%;
  height: 100%;
}
.pagePopup .popupTextBox {
  font-size: 140px;
  margin-right: 100px;
  line-height: 1;
}

.pagePopup .popup-content .content {
  margin-top: 70px;
}
.pagePopup .textBox {
  font-size: 70px;
  text-align: center;
  border: 2px solid #36E084;
  border-radius: 20px;
  padding: 10px 25px 10px;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  margin-left: 15px;
}

.pagePopup .audio_Icon {
  cursor: pointer;
}
.pagePopup .popupBottomContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.pagePopup .popupBottomContent .imgContainer {
  display: inline-block;
}

.pagePopup .carouselLeft,
.pagePopup .carouselRight {
  position: absolute;
  top: 302px;
}
.pagePopup .carouselLeft {
  left: 5px;
}
.pagePopup .carouselRight {
  right: 5px;
}

.opacity {
  opacity: 0.6;
}

.checkAnsBtn {
  cursor: pointer;
}
.disabled2 {
  cursor: default !important;
  pointer-events: none;
}

/*@-moz-document url-prefix() {
  .input {
    width: 252px;
    height: 69px;
    font-size: 32px;
    padding: 8px;
    resize: none;
    position: absolute;
    top: 20px;
    left: 390px;
    color: #36E084;
    border: 1.3px solid #888;
*/